<div ng-repeat="question in $parent.filteredQuestion(filterBy)">
  {{question._id}}. {{question.question}}
  <div class="radio" ng-repeat="choice in question.choices">
    <label>
      <input
          name="_id{{question._id}}"
          type="radio"
          value="{{choice._id}}"
          ng-model="question.userChoice"
          ng-change="$parent.$parent.$parent.checkMultipleChoice(question.answer, question.userChoice)"/>
      {{choice.choice}}
    </label>
  </div>
  User choice: {{question.userChoice}}<br/>
  Correct answer: {{question.answer}}<br/>
  Status: <span ng-style="{'color': $parent.$parent.color, 'font-weight': $parent.$parent.fontWeight}">{{$parent.$parent.responseMultipleChoice}}</span><br/>
</div>
