<div ng-repeat="question in $parent.filteredQuestion(filterBy)">
  <strong>{{question._id}}. {{question.question}}</strong>

  <div class="radio">
    <input
        name="_id{{question._id}}"
        type="radio"
        value="true"
        ng-model="question.userChoice"
        ng-change="$parent.$parent.checkUserChoice(question._id, true)"/>
    <label for="_id{{question._id}}">True</label>
    <br/>
    <input
        name="_id{{question._id}}"
        type="radio"
        ng-value="false"
        ng-model="question.userChoice"
        ng-change="$parent.$parent.checkUserChoice(question._id, false)"/>
    <label for="_id{{question._id}}">False</label>
  </div>
  <div ng-include src="'/scripts/partials/quiz-choice-response.html'"></div>
</div>
