<div ng-repeat="question in $parent.filteredQuestion(filterBy)">
  <strong>{{question._id}}. {{question.question}}</strong>

  <div class="radio" ng-repeat="choice in question.choices">
      <input
          name="_id{{question._id}}"
          type="radio"
          value="{{choice._id}}"
          ng-model="question.userChoice"
          ng-change="$parent.$parent.$parent.checkUserChoice(question._id, question.userChoice)"/>
      {{choice.choice}}
    <label for="_id{{question._id}}">{{choice.choice}}</label>
  </div>

  <div ng-if="$parent.$parent.results[question._id - 1].correct"
       class="result correct">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Correct!
  </div>

  <!--specific false because not true (!) would include null (blank)-->
  <div ng-if="$parent.$parent.results[question._id - 1].correct == false"
       class="result incorrect">
    <span class="glyphicon glyphicon-thumbs-down"></span>
    Incorrect
  </div>
</div>
