<div ng-repeat="question in $parent.filteredQuestion(filterBy)">
  <strong>{{question._id}}. {{question.question}}</strong>
  <div class="checkbox" ng-repeat="choice in question.choices">
    <input
        name="_id{{question._id}}"
        type="checkbox"
        value="{{choice._id}}"
        ng-model="choices.selected"
        ng-change="$parent.$parent.$parent.checkUserMultiCorrectChoice(question._id, choice._id)"/>
    <label for="_id{{question._id}}">{{choice.choice}}</label>
  </div>
  <div ng-include src="'/scripts/partials/quiz-choice-response.html'"></div>
</div>
