<div>
  <form novalidate class="simple-form">
    <quiz-truefalse filter-by="1"></quiz-truefalse>
    </br>
    <quiz-truefalse filter-by="2"></quiz-truefalse>
    </br>
    <quiz-truefalse filter-by="3"></quiz-truefalse>
    </br>
    <quiz-multichoice filter-by="4"></quiz-multichoice>
    </br>
    <quiz-multichoice filter-by="5"></quiz-multichoice>
    </br>
    <quiz-multichoice filter-by="6"></quiz-multichoice>
    </br>
    <quiz-multicorrect filter-by="7"></quiz-multicorrect>
    </br>
    <quiz-multicorrect filter-by="8"></quiz-multicorrect>
    </br>
    <quiz-multicorrect filter-by="9"></quiz-multicorrect>
  </form>
</div>
